USE [master]
GO
/****** Object:  Database [BlogDB]    Script Date: 6/14/2015 9:55:12 AM ******/
CREATE DATABASE [BlogDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogDB', FILENAME = N'E:\BASIS_SEIP .NET training\Final Project\BlogProject\DB\BlogDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlogDB_log', FILENAME = N'E:\BASIS_SEIP .NET training\Final Project\BlogProject\DB\BlogDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogDB]
GO
/****** Object:  Table [dbo].[tbl_article]    Script Date: 6/14/2015 9:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[description] [varchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[date] [datetime] NOT NULL,
	[article_hit_count] [int] NOT NULL,
	[user_name] [int] NOT NULL,
 CONSTRAINT [PK_tbl_article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_comment]    Script Date: 6/14/2015 9:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[article_id] [int] NOT NULL,
	[comment_description] [varchar](100) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 6/14/2015 9:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[fullname] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_article] ON 

SET IDENTITY_INSERT [dbo].[tbl_article] OFF
SET IDENTITY_INSERT [dbo].[tbl_comment] ON 

INSERT [dbo].[tbl_comment] ([id], [user_name], [article_id], [comment_description], [date]) VALUES (1, N'Milon', 2, N'nice', CAST(0x0000A4B501322958 AS DateTime))
INSERT [dbo].[tbl_comment] ([id], [user_name], [article_id], [comment_description], [date]) VALUES (2, N'Milon', 1, N' asdf', CAST(0x0000A4B5014263A4 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_comment] OFF
SET IDENTITY_INSERT [dbo].[tbl_users] ON 

INSERT [dbo].[tbl_users] ([id], [username], [password], [fullname], [email], [date]) VALUES (1, N'Milon', N'12345', N'Md Milon', N'milon@gmail.com', CAST(0x0000A4B501262E8C AS DateTime))
INSERT [dbo].[tbl_users] ([id], [username], [password], [fullname], [email], [date]) VALUES (2, N'mahmud', N'11111', N'mahmud', N'mahmud@gmail.com', CAST(0x0000A4B7009A4688 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_users] OFF
USE [master]
GO
